<!DOCTYPE html>
<html lang="en">
<head>
<title>Showcase for: https://github.com/deltatree/qrsct</title>
<meta name="author" content="Alexander Widak" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script
	src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script type="text/javascript">
	$(document).ready(
			function() {
				$('#amountCurrencyCode').val('EUR').attr('selected', true)
						.siblings('option').removeAttr('selected');
				$('#amountCurrencyCode').selectmenu();
				$('#amountCurrencyCode').selectmenu("refresh", true);
				$('#purpose').val('OTHR').attr('selected', true).siblings(
						'option').removeAttr('selected');
				$('#purpose').selectmenu();
				$('#purpose').selectmenu("refresh", true);
				$('#submit').click(function(event) {
					var username = $('#user').val();
					$.get("checkQRCode?" + createGet(), function(responseText) {
						$('#textContent').html(responseText);
					});
				});
				changeImage();
			});

	function changeImage() {
		parameters = createGet();
		image = document.getElementById('qrCode');
		image.src = "renderQRCode?" + parameters;
		link = document.getElementById('QRCodeLink');
		link.href = "renderQRCode?" + parameters;
	}

	function createGet() {
		return "serviceTag="
				+ encodeURIComponent(document.qrForm.serviceTag.options[document.qrForm.serviceTag.selectedIndex].value)
				+ "&version="
				+ encodeURIComponent(document.qrForm.version.options[document.qrForm.version.selectedIndex].value)
				+ "&characterSet="
				+ encodeURIComponent(document.qrForm.characterSet.options[document.qrForm.characterSet.selectedIndex].value)
				+ "&bic="
				+ encodeURIComponent(document.qrForm.bic.value)
				+ "&name="
				+ encodeURIComponent(document.qrForm.name.value)
				+ "&iban="
				+ encodeURIComponent(document.qrForm.iban.value)
				+ "&amountCurrencyCode="
				+ encodeURIComponent(document.qrForm.amountCurrencyCode.options[document.qrForm.amountCurrencyCode.selectedIndex].value)
				+ "&amount=" + encodeURIComponent(document.qrForm.amount.value)
				+ "&purpose="
				+ encodeURIComponent(document.qrForm.purpose.value) + "&text="
				+ encodeURIComponent(document.qrForm.text.value) + "&hint="
				+ encodeURIComponent(document.qrForm.hint.value) + "&width="
				+ encodeURIComponent(document.qrForm.width.value) + "&height="
				+ encodeURIComponent(document.qrForm.height.value);
	}
</script>

</head>
<body>
	<div data-role="page">
		<div data-role="header">
			<h1>
				Showcase for <a href="https://github.com/deltatree/qrsct">https://github.com/deltatree/qrsct</a>
			</h1>
		</div>
		<div role="main" class="ui-content">
			<form action="#" name="qrForm">
				<div class="ui-field-contain">
					<label for="name">Name</label> <input type="text" name="name"
						id="name" value="DeltaTree Alexander Widak" />
				</div>
				<div class="ui-field-contain">
					<label for="iban">IBAN</label> <input type="text" name="iban"
						id="iban" value="DE21663916000034000832" />
				</div>
				<div class="ui-field-contain">
					<label for="bic">BIC</label> <input type="text" name="bic" id="bic"
						value="GENODE61ORH" />
				</div>
				<div class="ui-field-contain">
					<label for="amount">Betrag</label> <input type="text" name="amount"
						id="amount" value="1.11" /> <select name="amountCurrencyCode"
						id="amountCurrencyCode" size="1"><option
							th:each="amountCurrencyCode : ${T(com.neovisionaries.i18n.CurrencyCode).values()}"
							th:value="${amountCurrencyCode}" th:text="${amountCurrencyCode}"></option></select>
				</div>
				<div class="ui-field-contain">
					<label for="text">Verwendungszweck</label> <input type="text"
						name="text" id="text" value="Vielen Dank fuer diese coole App" />
				</div>
				<div data-role="collapsible">
					<h1>Advanced</h1>
					<div class="ui-field-contain">
						<label for="width">Breite</label> <input type="range" name="width"
							id="slider-width" value="222" min="50" max="1000" step="20"
							data-highlight="true" />
					</div>
					<div class="ui-field-contain">
						<label for="height">H&ouml;he</label> <input type="range"
							name="height" id="height" value="222" min="50" max="1000"
							step="20" data-highlight="true" />
					</div>
					<div class="ui-field-contain">
						<label for="purpose">Verwendungscode</label> <select
							name="purpose" id="purpose"><option
								th:each="purpose : ${T(de.deltatree.tools.qrsct.QRSCTPurposeEnum).values()}"
								th:value="${purpose}" th:text="${purpose}"></option></select>
					</div>
					<div class="ui-field-contain">
						<label for="hint">Hinweis</label> <input type="text" name="hint"
							value="kein Hinweis" />
					</div>
					<div class="ui-field-contain">
						<label for="serviceTag">ServiceTag</label> <select
							name="serviceTag" id="serviceTag"><option
								th:each="serviceTag : ${T(de.deltatree.tools.qrsct.QRSCTServiceTagEnum).values()}"
								th:value="${serviceTag}" th:text="${serviceTag}"></option></select>
					</div>
					<div class="ui-field-contain">
						<label for="version">Version</label> <select name="version"
							id="version"><option
								th:each="version : ${T(de.deltatree.tools.qrsct.QRSCTVersionEnum).values()}"
								th:value="${version}" th:text="${version}"></option></select>
					</div>
					<div class="ui-field-contain">
						<label for="characterSet">CharacterSet</label> <select
							name="characterSet" id="characterSet"><option
								th:each="characterSet : ${T(de.deltatree.tools.qrsct.QRSCTCharacterSetEnum).values()}"
								th:value="${characterSet}" th:text="${characterSet}"></option></select>
					</div>
				</div>
				<div class="ui-grid-a">
					<div class="ui-block-a">
						<input type="button" name="reset" value="reset"
							onclick="window.location.reload()">
					</div>
					<div class="ui-block-b">
						<input type="button" name="ok" value="ok" onclick="changeImage()"
							id="submit" />
					</div>
				</div>
			</form>
			<div class="ui-grid-b">
				<div class="ui-block-a">&nbsp;</div>
				<div class="ui-block-b" align="center">
					<div id="textContent">
						<font color="green">OK</font>
					</div>
				</div>
				<div class="ui-block-c">&nbsp;</div>
				<div class="ui-block-a">&nbsp;</div>
				<div class="ui-block-b" align="center">
					<img src="renderQRCode" id="qrCode">
				</div>
				<div class="ui-block-c">&nbsp;</div>
				<div class="ui-block-a">&nbsp;</div>
				<div class="ui-block-b" align="center">
					<a href="#" id="QRCodeLink">Direktlink</a>
				</div>
				<div class="ui-block-c">&nbsp;</div>
			</div>
		</div>
		<div data-role="footer">
			<h1>
				Presented by <a href="https://www.deltatree.de" target="_blank">DeltaTree</a>
			</h1>
		</div>
	</div>
</body>
</html>
