<!DOCTYPE html>
<html lang="en">
<head>
<title>Showcase for: https://github.com/deltatree/qrsct</title>
<meta name="author" content="Alexander Widak" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet"
	href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script
	src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script type="text/javascript">
	$(document).ready(
			function() {
				$('#amountCurrencyCode').val('EUR').attr('selected', true)
						.siblings('option').removeAttr('selected');
				$('#amountCurrencyCode').selectmenu();
				$('#amountCurrencyCode').selectmenu("refresh", true);
				$('#purpose').val('OTHR').attr('selected', true).siblings(
						'option').removeAttr('selected');
				$('#purpose').selectmenu();
				$('#purpose').selectmenu("refresh", true);
				$('#submit').click(function(event) {
					var username = $('#user').val();
					$.get("checkQRCode?" + createGet(), function(responseText) {
						$('#textContent').html(responseText);
					});
				});
				changeImage();
			});

	function changeImage() {
		parameters = createGet();
		image = document.getElementById('qrCode');
		image.src = "renderQRCode?" + parameters;
		link = document.getElementById('QRCodeLink');
		link.href = "renderQRCode?" + parameters;
	}

	function createGet() {
		return "serviceTag="
				+ encodeURIComponent(document.qrForm.serviceTag.options[document.qrForm.serviceTag.selectedIndex].value)
				+ "&version="
				+ encodeURIComponent(document.qrForm.version.options[document.qrForm.version.selectedIndex].value)
				+ "&characterSet="
				+ encodeURIComponent(document.qrForm.characterSet.options[document.qrForm.characterSet.selectedIndex].value)
				+ "&bic="
				+ encodeURIComponent(document.qrForm.bic.value)
				+ "&name="
				+ encodeURIComponent(document.qrForm.name.value)
				+ "&iban="
				+ encodeURIComponent(document.qrForm.iban.value)
				+ "&amountCurrencyCode="
				+ encodeURIComponent(document.qrForm.amountCurrencyCode.options[document.qrForm.amountCurrencyCode.selectedIndex].value)
				+ "&amount=" + encodeURIComponent(document.qrForm.amount.value)
				+ "&purpose="
				+ encodeURIComponent(document.qrForm.purpose.value) + "&text="
				+ encodeURIComponent(document.qrForm.text.value) + "&hint="
				+ encodeURIComponent(document.qrForm.hint.value) + "&width="
				+ encodeURIComponent(document.qrForm.width.value) + "&height="
				+ encodeURIComponent(document.qrForm.height.value);
	}
</script>

</head>
<body>
	<div align="center">
		<table style="width: 333px;">
			<tr>
				<td align="center" valign="middle">

					<h1>
						Showcase for:<br> <a
							href="https://github.com/deltatree/qrsct">https://github.com/deltatree/qrsct</a>
					</h1>

					<hr />

					<form action="#" name="qrForm">
						<table>
							<tr>
								<td>name
								<td>
								<td>:</td>
								<td colspan="2"><input type="text" name="name"
									value="DeltaTree Alexander Widak" style="width: 333px;" /></td>
							</tr>
							<tr>
								<td>iban
								<td>
								<td>:</td>
								<td colspan="2"><input type="text" name="iban"
									value="DE21663916000034000832" style="width: 333px;" /></td>
							</tr>
							<tr>
								<td>bic
								<td>
								<td>:</td>
								<td colspan="2"><input type="text" name="bic"
									value="GENODE61ORH" style="width: 333px;" /></td>
							</tr>
							<tr>
								<td>amount
								<td>
								<td>:</td>
								<td><input type="text" name="amount" value="1.11"
									style="width: 333px;" /></td>
								<td><select name="amountCurrencyCode"
									id="amountCurrencyCode" size="1"><option
											th:each="amountCurrencyCode : ${T(com.neovisionaries.i18n.CurrencyCode).values()}"
											th:value="${amountCurrencyCode}"
											th:text="${amountCurrencyCode}"></option></select></td>
							</tr>
							<tr>
								<td>text
								<td>
								<td>:</td>
								<td colspan="2"><input type="text" name="text"
									value="Vielen Dank fuer diese coole App" style="width: 333px;" /></td>
							</tr>
						</table>
						<div data-role="collapsible">
							<h1>Advanced</h1>
							<table>
								<tr>
									<td>width
									<td>
									<td>:</td>
									<td colspan="2"><input type="range" name="width"
										id="slider-width" value="222" min="50" max="1000" step="20"
										data-highlight="true" />
								</tr>
								<tr>
									<td>height
									<td>
									<td>:</td>
									<td colspan="2"><input type="range" name="height"
										value="222" min="50" max="1000" step="20"
										data-highlight="true" /></td>
								</tr>
								<tr>
									<td>purpose
									<td>
									<td>:</td>
									<td colspan="2"><select name="purpose" id="purpose"
										size="1" style="width: 333px;"><option
												th:each="purpose : ${T(de.deltatree.tools.qrsct.QRSCTPurposeEnum).values()}"
												th:value="${purpose}" th:text="${purpose}"></option></select></td>
								</tr>
								<tr>
									<td>hint
									<td>
									<td>:</td>
									<td colspan="2"><input type="text" name="hint"
										value="kein Hinweis" style="width: 333px;" /></td>
								</tr>
								<tr>
									<td>serviceTag
									<td>
									<td>:</td>
									<td colspan="2"><select name="serviceTag" size="1"
										style="width: 333px;"><option
												th:each="serviceTag : ${T(de.deltatree.tools.qrsct.QRSCTServiceTagEnum).values()}"
												th:value="${serviceTag}" th:text="${serviceTag}"></option></select></td>
								</tr>
								<tr>
									<td>version
									<td>
									<td>:</td>
									<td colspan="2"><select name="version" size="1"
										style="width: 333px;"><option
												th:each="version : ${T(de.deltatree.tools.qrsct.QRSCTVersionEnum).values()}"
												th:value="${version}" th:text="${version}"></option></select></td>
								</tr>
								<tr>
									<td>characterSet
									<td>
									<td>:</td>
									<td colspan="2"><select name="characterSet" size="1"
										style="width: 333px;"><option
												th:each="characterSet : ${T(de.deltatree.tools.qrsct.QRSCTCharacterSetEnum).values()}"
												th:value="${characterSet}" th:text="${characterSet}"></option></select></td>
								</tr>
							</table>
						</div>
						<table width="100%">
							<tr>
								<td width="50%"><input type="button" name="reset"
									value="reset" onclick="window.location.reload()"></td>
								<td width="50%"><input type="button" name="ok" value="ok"
									onclick="changeImage()" id="submit" /></td>
							</tr>
						</table>
					</form>

					<hr />

					<div id="textContent">
						<font color="green">OK</font>
					</div>

					<hr /> <img src="renderQRCode" id="qrCode">

					<hr /> <a href="#" id="QRCodeLink">Direktlink</a>

				</td>
			</tr>
		</table>
	</div>
</body>
</html>
